h1 {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg?_gl=1*yjnry3*_ga*MjA4NjM4NDE4My4xNzAyMDQ5Nzg3*_ga_3LRZM6TM9L*MTcwNDg1MzQ1MC40My4xLjE3MDQ4NTM0NjcuNDMuMC4w);
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    font-family: Helvetica;
  }
  
  #brush {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
  }
  
  .price {
    font-family: Helvetica;
    color: blue;
    font-weight: bold;
  }
  
  h1, h2, h3, p {
    font-family: Helvetica;
  }
  
  #frame {
    background-color: lightcoral;
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #paint {
    background-color: skyblue;
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
  }